[submodule "JsonPit"]
	path = JsonPit
	url = https://github.com/Burkhardt/JsonPit.git
[submodule "OsLib"]
	path = OsLib
	url = https://github.com/Burkhardt/OsLib.git
[submodule "RaiUtils"]
	path = RaiUtils
	url = https://github.com/Burkhardt/RaiUtils.git
[submodule "RaiImage"]
	path = RaiImage
	url = https://github.com/Burkhardt/RaiImage.git
[submodule "PitSeeder"]
	path = PitSeeder
	url = https://github.com/Burkhardt/PitSeeder.git
[submodule "ImgSeeder"]
	path = ImgSeeder
	url = https://github.com/Burkhardt/ImgSeeder.git
[submodule "RaiDiagram"]
	path = RaiDiagram
	url = https://github.com/Burkhardt/RaiDiagram.git
